{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Causeway Point - About</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="about-img">
            <img src="{% static 'img/about-1.jpg' %}" alt="" />
        </div>
        <div class="about-wrapper">
            <h1>Who We Are?</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis urna at lacus eleifend eleifend a eget libero. Nunc porttitor lorem eget enim finibus consequat. Donec a cursus augue. Donec eleifend sapien risus, eu venenatis ex faucibus id. In rhoncus at massa in vulputate. Mauris eu suscipit ante. Proin nec diam in mi varius sagittis non at tortor. Donec euismod tincidunt sem eget semper. Nunc non dolor eget orci tempus molestie nec eget odio.
                <br>
                Praesent tincidunt vel ligula nec feugiat. Nullam sollicitudin ac velit vel pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vitae eleifend tortor. Pellentesque interdum, odio ut varius interdum, justo tortor posuere leo, in pretium nunc odio non diam. Donec non ex nibh. Duis sed semper orci. Donec posuere eros dui, eget blandit dui gravida sit amet. Nam venenatis, est sit amet malesuada ornare, enim leo molestie mi, ac congue quam nunc eget nulla.
            </p>
        </div>
        <div class="about-wrapper">
            <h1>Our Brand</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis urna at lacus eleifend eleifend a eget libero. Nunc porttitor lorem eget enim finibus consequat. Donec a cursus augue. Donec eleifend sapien risus, eu venenatis ex faucibus id. In rhoncus at massa in vulputate. Mauris eu suscipit ante. Proin nec diam in mi varius sagittis non at tortor. Donec euismod tincidunt sem eget semper. Nunc non dolor eget orci tempus molestie nec eget odio.
                <br>
                Praesent tincidunt vel ligula nec feugiat. Nullam sollicitudin ac velit vel pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vitae eleifend tortor. Pellentesque interdum, odio ut varius interdum, justo tortor posuere leo, in pretium nunc odio non diam. Donec non ex nibh. Duis sed semper orci. Donec posuere eros dui, eget blandit dui gravida sit amet. Nam venenatis, est sit amet malesuada ornare, enim leo molestie mi, ac congue quam nunc eget nulla.
            </p>
        </div>
        <div class="about-wrapper">
            <h1>Our Goal</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis urna at lacus eleifend eleifend a eget libero. Nunc porttitor lorem eget enim finibus consequat. Donec a cursus augue. Donec eleifend sapien risus, eu venenatis ex faucibus id. In rhoncus at massa in vulputate. Mauris eu suscipit ante. Proin nec diam in mi varius sagittis non at tortor. Donec euismod tincidunt sem eget semper. Nunc non dolor eget orci tempus molestie nec eget odio.
                <br>
                Praesent tincidunt vel ligula nec feugiat. Nullam sollicitudin ac velit vel pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vitae eleifend tortor. Pellentesque interdum, odio ut varius interdum, justo tortor posuere leo, in pretium nunc odio non diam. Donec non ex nibh. Duis sed semper orci. Donec posuere eros dui, eget blandit dui gravida sit amet. Nam venenatis, est sit amet malesuada ornare, enim leo molestie mi, ac congue quam nunc eget nulla.
            </p>
        </div>
        <br><br><hr><br><br>
        <div class="about-wrapper">
            <h1>Contact Us</h1>
            <div class="about-contact">
                <div class="about-contact-left">
                    <h4>Location</h4>
                    <h5>1 Woodlands Square Singapore 738099</h5>
                </div>
                <div class="about-contact-center">
                    <h4>Call</h4>
                    <h5>(65) 6894 2237<br>(65) 6894 2238</h5>
                </div>
                <div class="about-contact-right">
                    <h4>Open-Close</h4>
                    <h5>M-F 10.30am to 10.30pm<br>S-S 09.30am to 11.00pm</h5>
                </div>
            </div>
            <p><br>
                Causeway Point is located in the heart of Woodlands Regional Centre, next to the Woodlands MRT Station and bus interchange. With more than 250 shops, it is the largest mall managed by Frasers Property Retail.<br><br>
                Anchor tenants are Bagus, Cathay Cineplexes, Courts, Food Republic, Kiddy Palace, Metro, POPULAR Bookstore, Timezone and Uniqlo.<br><br>
                In 2011, Causeway Point won a Green Mark Platinum Award by Building & Construction Authority. It was voted Best Suburban Mall by The Straits Times and awarded the Best A&P Effort Award by the Singapore Retailers Association in 2004. In 2015, it was also awarded the BCA Universal Design Mark Gold Plus award.<br><br>
                Parents rooms are located at every level (next to the toilets).<br><br>
                Shoppers can enjoy free Wi-Fi access with Wireless SG.
            </p>
            <!-- <br><br> -->
        </div>
        <div class="about-wrapper">
            <h3>Customer Service, Level 2</h3>
            <p>
                &nbsp; - Operating Hours: 10am to 10pm<br>
                &nbsp; - Redemption Hours: 10.30am to 9.30pm
            </p>
            <h3>Nursing Rooms</h3>
            <p>
                &nbsp; - Level 1 to 5 and Level 7
            </p>
            <h3>Other Services & Facilities</h3>
            <p>
                Available ATMs:<br>
                &nbsp; - Basement 1 – POSB / AXS<br>
                &nbsp; - Level 1 – OCBC<br>
                &nbsp; - Level 2 – Citibank / Maybank
            </p>
            <h3>Parking</h3>
            <p>
                Carpark Operating Hours:<br>
                &nbsp; - Weekdays: 7am to 10:30pm<br>
                &nbsp; - Weekends & PH: 7am to 12 midnight<br>
                &nbsp; - No Overnight Parking Allowed.<br>
                Cars:<br>
                &nbsp; - First hour or part thereof - $1.20<br>
                &nbsp; - Every subsequent half hour or part thereof - $0.60<br>
                Motorcycles:<br>
                &nbsp; - Parking for motorcycles at $0.80 per entry.
            </p>
            <button>
                <a href="{% url 'shop:contact' %}">Let's contact us!</a>
            </button>
        </div>
    </div>
{% endblock %}