{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Causeway Point - Contanct Us</title>{% endblock %}

{% block content %}
    <div class="container">
        <h1>Contact Us</h1>
        <br><hr>
        <div class="contact">
            <form method="post" action="#" onsubmit="return confirm('Do you want to submit?');">
                {% csrf_token %}
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name.." required>

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Your Email.." required>

                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="singapore">Singapore</option>
                    <option value="usa">Uited States</option>
                    <option value="uk">United kingdom</option>
                </select>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>

                <input type="submit" value="Submit">
              </form>
        </div>
        <br><br><br>
        <h1>Visit Us</h1>
        <br><hr>
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6719.996767744975!2d103.85711562872123!3d1.2855934149239303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19ee4cc09203%3A0x26c9afefa555dd7!2sMarina%20Bay%20Sands%20Singapore!5e0!3m2!1sen!2skr!4v1650731881175!5m2!1sen!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div>
                <div>
                    <h3><br><br>Location</h3>
                    <br>
                    <p>
                        Marina Bay Sands Singapore<br>
                        #01-01, Marina Bay Sands<br>
                        Singapore 058811<br>
                        +65 6222 3333<br>
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}