{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Causeway Point - {{ store.name }}</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="stores_article-img">
            <img src="{{ store.logo.url }}" alt="store logo image" />
        </div>
        <div class="stores_article-wrapper">
            <h3 class="stores-breadcrumb">STORE</h3>
            <h1>{{ store.name }}</h1><br>
            <div class="stores_article-contact">
                <div class="stores_article-contact-left">
                    <h4>Location</h4>
                    <p>{{ store.location }}</p>
                </div>
                <div class="stores_article-contact-center">
                    <h4>Contact</h4>
                    <p>{{ store.contact }}</p>
                </div>
                <div class="stores_article-contact-right">
                    <h4>Open</h4>
                    <p>{{ store.opening }}</p>
                </div>
            </div>
            <br>
            <p>
                {{ store.description }}
            </p>
            <button>
                <a onclick="history.back()">Go back</a>
            </button>
        </div>
    </div>
{% endblock %}